@tailwind base;
@tailwind components;
@tailwind utilities;

/* Скрыть полосу прокрутки для всех элементов на странице */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Скрыть полосу прокрутки для всех элементов на странице */
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}