@tailwind base;
@tailwind components;
@tailwind utilities;

/* Скрыть полосу прокрутки для всех элементов на странице */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Скрыть полосу прокрутки для всех элементов на странице */
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    @apply w-5 h-5 border-4 border-t-transparent border-white rounded-full animate-spin;
}